.autogit
dist
/dist
node_modules
/node_modules
uploads/*.jpg
uploads/*.png

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
homeraisedcairns/node_modules/**
homeraisedcairns/build/**
package-lock.json
yarn-lock.json
homeraisedcairns/package-lock.json
homeraisedcairns/yarn-lock.json